<h1 style="text-align: center;">Marítima Dominicana S.A.S.</h1>
<h2 style="text-align: center;">Evaluación práctica</h2>

<p>I-	Realice un programa que efectúe la gestión de artículos en un almacén bajo las siguientes especificaciones:</p>
<ul>
  <li>Capturar los datos generales del almacén (descripción, ubicación, capacidad de artículos, etc.). </li>
  <li>Capturar los datos generales de los artículos (descripción, diferentes precios, etc.). </li>
  <li>Manejo de inventario (no es necesario que sea complejo). </li>
  <li>Reporte de movimiento de artículos (entrada/salida). </li>
</ul>

<p>a)	Restricciones y permisos:</p>
<ul>
  <li>Puede utilizar cualquier tecnología front-end de su preferencia. </li>
  <li>No puede utilizar scaffolding. </li>
  <li>Debe utilizar Asp.Net MVC / Core como tecnología principal. </li>
  <li>Debe utilizar Entity Framework / Core para el acceso a datos. </li>
  <li>Debe utilizar MS-SQL como motor de base de datos. </li>
</ul>	

<p>b)	Puntos a evaluar:</p>
<ul>
  <li>Estructura y manejo de base de datos. </li>
  <li>Manejo del lenguaje de programación. </li>
  <li>Separación de conceptos. </li>
  <li>Buenas prácticas. </li>
  <li>Buenas validaciones. </li>
  <li>Interfaz gráfica. </li>
</ul>

<p>c)	Entregables:</p>
<ul>
  <li>El proyecto desarrollado. </li>
  <li>README.md con la descripción general, tecnologías implementadas y consideraciones para iniciar el proyecto. </li>
  <li>Se debe colocar en un repositorio público de su preferencia (preferiblemente GITHUB), y enviar el link a la dirección del correo que proporciona el examen. </li>
  <li>Fecha de entrega 1 semanas contando a partir de la fecha de entrega. </li> 
</ul>


